*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,body{
font-family: 'Righteous', cursive;
}
nav{
  background: #0082e6;
  min-height: 80px;
}
.name{
  font-size: 34px;
  line-height: 80px;
  padding: 0 100px;
  color: white;
}
a{
  font-weight: bold;
  color: white;
}
.active{
  color: blue;
}
ul{
  float: right;
}
li{
display:inline-block;
line-height: 80px;
margin: 0 10px;
}
.checkbtn{
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 50px;
  font-size: 30px;
  display: none;
}
#check{
  display:none;
}
a:hover,a.active{
  background: white;
padding:5px 10px;
border-radius:;
transition:0.2s;
color: #0082e6;
}
@media (max-width:952px) {
.name{
  font-size: 20px;
  padding-left: 50px;
}
li{
  font-size: 16px;
}
}
@media (max-width:858px) {
.checkbtn{
  display: block;
  margin-right:10px;
}

ul{
  background: #2c3e50;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 80px;
  left:-100%;
  text-align: center;
  transition: all 0.3s;
}
li{
  display: block;
  margin: 10px 0;
}
a:hover,a.active{
  background: none;
  color: #0082e6;
}
#check:checked ~ ul{
  left: 0;
}
}
section{
  background: url(mountain.png) no-repeat center center/cover;
  height: calc(100vh - 80px);
  margin-top: 1px;
}
